<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lebensmittelwarnung</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital@1&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@400;500;600;700&display=swap" rel="stylesheet">

    <!-- Styles used by polotno Canvas Editor -->
    <link
    href="https://unpkg.com/@blueprintjs/icons@^3.4.0/lib/css/blueprint-icons.css"
    rel="stylesheet"
    />
    <link
    href="https://unpkg.com/@blueprintjs/core@^3.10.0/lib/css/blueprint.css"
    rel="stylesheet"
    />
    <link
    href="https://unpkg.com/@blueprintjs/popover2@0.11.0/lib/css/blueprint-popover2.css"
    rel="stylesheet"
    />
</head>
<body style="margin: 0;">
    <div id="app"></div>
    {% load static %}
    <script src='{% static "frontend/main.js" %}'></script>
</body>
</html>